body 
{
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 20px;
}
h1.h1 
{
    text-align: center;
    color: whitesmoke;
}
table 
{
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #891508;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
caption 
{
    margin-bottom: 10px;
}
td 
{
    padding: 10px;
}
label 
{
    font-weight: bold;
    color: whitesmoke;
}
input[type="text"],
input[type="date"],
select 
{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.center {
    text-align: center;
}
